{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/forbid-prop-types": ["error", { "forbid": ["any", "array"] }]
  }
}
